@model RAG_using_Azure_AI_Search.Models.SearchTerms
<h4>
    Agentic RAG with Microsoft Semantic Kernel and Azure AI Search
</h4>

<div class="container">

    <form id="search-form">
        <div class="form-group">
            <label asp-for="@Model.Input">Q: ></label>
            <input asp-for="@Model.Input" class="form-control" placeholder="Q:" required />
        </div>
        <br />
        <div class="form-group">
            <label asp-for="@Model.TopK">TopK</label>
            <input asp-for="@Model.TopK" class="input-group-sm mx-1  " required />
        </div>
        <br />
        <div class="form-group">
            <fieldset>
                <legend>Search type:</legend>

                <div>
                    <input type="radio" id="simpleSearch" name="search"  checked />
                    <label for="simpleSearch">Simple Search</label>
                </div>

                <div>
                    <input type="radio" id="agenticSearch" name="search"  />
                    <label for="agenticSearch">Agentic Search</label>
                </div>

            </fieldset>
        </div>
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Search</button>
            
        </div>
        

        <br />
        <br />

        <div class="form-group">
            <textarea id="searchResult" rows="20"></textarea>
        </div>

    </form>


    <div class="form-control">
        <span class="alert-info">Simple Azure AI Search Queries: </span>
        <br/>
        <ol>
            <li>AI researcher specializing in natural language processing and machine learning.</li>
            <li>Find Solution architect and enterprise software designer with expertise</li>
            <li>Find me list of all developers and Solution architect</li>
        </ol>
    </div>

    <div class="form-control">
        <span class="alert-info">Agentic RAG Queries: </span>
        <br />
        <ol>

            <li>
                Can you list all the speakers who are AI Specialists?
            </li>
            <li>
                Can you list all the speakers who are Data Scientists?
            </li>
            <li>
                Can you list all the speakers who are Developers,AI Specialists, Data Scientists?
            </li>
            <li>
                Give me count of Developers,AI Specialists, Data Scientists?
            </li>
            
        </ol>
    </div>

    <br />

</div>
