@model RAG_using_Azure_AI_Search.Models.SearchTerms
<h4>Azure AI Search</h4>


<div class="container">



    <form id="search-form">
        <div class="form-group">
            <label asp-for="@Model.Input">Q: ></label>
            <input asp-for="@Model.Input" class="form-control" placeholder="Q:" required />
        </div>
        <div class="form-group">
            <label asp-for="@Model.TopK">TopK</label>
            <input asp-for="@Model.TopK" class="input-group-sm mx-1  " required />
        </div>
        
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            
        </div>
        

        <br />
        <br />

        <div class="form-group">
            <textarea id="searchResult" rows="20"></textarea>
        </div>

    </form>


    <div class="form-control">
        <span class="alert-info">Sample queries: </span>
        <br/>
        <ol>

            <li>AI researcher specializing in natural language processing and machine learning.</li>
            <li>Find Solution architect and enterprise software designer with expertise</li>
            <li>who is Samantha Rodriguez?</li>
            <li>API gateway architect and traffic management specialist</li>
            <li>Find me list of all developers and Solution architect</li>
            <li>3D</li>
        </ol>
    </div>

    <br />

</div>
